<launch>
  <arg name="model"/>
  <param name="robot_description" command="xacro --inorder '$(find whell_describe)/urdf/whell_describe.xacro'" />
  
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" /> -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find whell_describe)/rviz/urdf.rviz" />
</launch>